* {
margin: 0;
}

/* Image Class */
.global-header__logo {
box-shadow: none;
z-index: 4;
position: inherit;
top: inherit;
left: inherit;
background: transparent none;
filter: none;
margin: 0;
width: auto;
display: inline-block;
}

.logo {
max-width: 200px;
max-height: 300px;
margin-left: 60px;
padding-top: 35px;
}

/* Div for everything so far */
.global-header_header-wrap{
margin-left: auto;
margin-right: auto;
z-index:3;
position: relative;
background: #fa9583;
}

.global-header_header-wrap::after{
clear:both;
content:"";
display: table;
}


/* Class for UL */
.basics {
display: inline-block;
position: absolute;
top: 0;
margin-top: 10px;
margin-left: 400px;
}

/* Class for NF Info  */
.info {
display: inline-block;
color: #0667ba;
font-weight: 700;
}

/* Class for Routing Number */
.routing-number {
color: grey;
margin-left: 50px;
}

/* Class for Number next to Routing Number */
.numbers {
color: black;
}

/* Class for Branches & ATMs  */
.branches {
margin-left: 60px;
margin-top: 10px;
}

/* Class for Sign In */
.sign-in {
margin-left: 40px;
margin-bottom: 10px;
}

/* Class for Nav UL  */
.options {
float: right;
margin: 5px 80px 20px 0;
}

/* Class for Search Icon  */
.search {
background-image: url(nfo-fom-logo.svg) no-repeat;
background-size: auto 100%;
background-position: 0;
}

/* Class for Nav Links  */
.nav-link {
display: inline-block;
margin: 5px 15px 20px 0;
color: #0667ba;
font-weight: 700; 
}

/* Class for Membership  */
.membership {
margin-right: 30px;
}