* {
margin: 0;
}

/* Image Class */
.global-header__logo {
box-shadow: none;
z-index: 4;
position: inherit;
top: inherit;
left: inherit;
background: transparent none;
filter: none;
margin: 0;
width: auto;
display: inline-block;
}

.logo {
max-width: 200px;
max-height: 300px;
margin-left: 60px;
padding-top: 35px;
}

/* Div for everything so far */
.global-header_header-wrap{
margin-left: auto;
margin-right: auto;
z-index:3;
position: relative;
background: #fa9583;
}

.global-header_header-wrap::after{
clear:both;
content:"";
display: table;
}


/* ID for UL */
#basics {
display: inline-block;
position: absolute;
top: 0;
margin-top: 10px;
margin-left: 400px;
}

/* ID for Routing Number */
#routingNumber {
display: inline-block;
color: grey;
margin-left: 50px;
}

/* ID for Number next to Routing Number */
#numbers {
display: inline-block;
font-weight: 700;
}

/* ID for Branches & ATMs  */
#branches {
display: inline-block;
margin-left: 60px;
margin-top: 10px;
color: #0667ba;
font-weight: 700;
}

/* ID for Sign In */
#signIn {
display: inline-block;
margin-left: 40px;
margin-bottom: 10px;
color: #0667ba;
font-weight: 700;
}

#options {
float: right;
margin: 5px 80px 20px 0;
color: #0667ba;
font-weight: 700;
}


.search {
background-image: url(nfo-fom-logo.svg) no-repeat;
background-size: auto 100%;
background-position: 0;
}

.nav-link {
display: inline-block;
margin-right: 15px;
color: #0667ba;
font-weight: 700; 
}

.membership {
margin-right: 30px;
}