* {
    margin: 0;
}


#basics {
    float: right;
    margin-top: 25px;
}


#routingNumber {
    display: inline-block;
    color: grey;
}

#numbers {
    display: inline-block;
    font-weight: bold;
}

#branches {
    display: inline-block;
    margin-right: 43px;
    margin-left: 70px;
    font-weight: bold;
    color: darkblue;
}

#signIn {
    display: inline-block;
    margin-right: 50px;
    font-weight: bold;
    color: darkblue;
}



